<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link data-th-href="@{/css/main.css?{id}(id=${timestamp})}" rel="stylesheet">
    <title>Java Webapp</title>
</head>
<body style="background-color: #b9f3fc;">

<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2d72d9;">
    <a class="navbar-brand" href="#" style="color: #fff;">Deploy Java WebApp with CI/CD Pipeline</a>
</nav>

<main role="main" class="container">
    <div class="starter-template" style="background-color: #fff; border: 1px solid #ddd;">
        <h1 style="color: #2d72d9;" th:text="${title}">Default title.</h1>
        <p style="color: #555;" th:text="${msg}">Default text.</p>
    </div>
</main>

<script data-th-src="@{/js/main.js}"></script>
</body>

</html>
